.alinhar-centro {
 
	display: inline-flex;
  	vertical-align: middle;
  	align-items: center;	  
}
 
.erro-msg {
	color: red;
 
}
 
.sucesso-msg {
	color: blue;
 
}

table, th, td {
    border: 1px solid black;
}

th, td{
  width: 100px;
}

th{
  text-align: center;
}