
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Alunos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script> 
    <script type="text/javascript" src="/js/script.js"></script>    

</head>
<body>
	<div th:fragment="menu">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Apisys</a>
				</div>


				<ul class="nav navbar-nav">
					<li><a th:href="@{/home}">Home</a></li>
					<li><a th:href="@{/curso}">Curso</a></li>
					<li><a th:href="@{/aluno}">Aluno</a></li>
				</ul>
			</div>
		</nav>

	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Aluno</strong>
		</div>

		<div class="panel-body">
			<div class="table-responsive">
				<table id="tabela"
					class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th><input style="width: 50px"  type="text" id="id" /></th>
							<th><input type="text" id="nome" /></th>
							<th><input style="width: 100px" type="text" id="matricula" /></th>
							<th><input style="width: 50px" type="text" id="semestre" /></th>
							<th><input type="text" id="curso" /></th>
							<th style="width: 50px" ><input type="text" id="status" /></th>
							<th>Filtros</th>
						</tr>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th style="width: 80px">Nº Matricula</th>
							<th style="width: 50px">Semestre</th>
							<th>Curso</th>
							<th>Status</th>
							<th >Editar/Excluir</th>
						</tr>

					</thead>
					<tbody>
						<tr th:each="aluno : ${alunos}">
							<td style="width: 50px" th:text="${aluno.id}"></td>
							<td th:text="${aluno.nome}"></td>
							<td th:text="${aluno.numeroMatricula}"></td>
							<td th:text="${aluno.semestre}"></td>
							<td th:text="${aluno.curso.nome}"></td>
							<td th:text="${aluno.status}"></td>
							<td>
								<div class="btn-group pull-right">
									<a class="btn btn-sm btn-primary"
										th:href="@{/editAluno/{id}(id=${aluno.id})}">Editar</a> <a
										class="delete btn btn-sm btn-danger"
										th:href="@{/deleteAluno/{id}(id=${aluno.id})}">Excluir</a>
								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/alunoAdd/}">Adicionar</a>
		</div>
	</div>
</body>
</html>